<% var license = parse_license(page.license || theme.license || "copyright") %>

<div class="license-notice">
    <span><%= __('author') %>: </span><%= config.author %><br>
    <span><%= __('posted_at') %>: </span><%= page.date.format(config.date_format) %><br>
</div>
